<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials::head('title')"></head>
<body>
    <nav th:replace="partials/partials::navbar"></nav>
    <div class="container">
        <form action="/posts/create" method="post" th:object="${post}">
            <h1 th:text="${(post.id == 0 ? 'New Blog' : 'Update Blog') + ' Post'}"></h1>
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" th:field="*{title}" class="form-control" placeholder="Title" />
            </div>
            <div class="form-group">
                <label for="body">Body</label>
                <textarea th:field="*{body}" class="form-control"></textarea>
            </div>
            <button class="btn btn-primary" type="submit" th:text="${(post.id == 0 ? 'Add' : 'Update') + ' Post'}"></button>
        </form>
    </div>
    <footer th:include="partials/partials::footer"></footer>
</body>
</html>