<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/partials::head(${post.title})"></head>
<body>
    <nav th:replace="partials/partials::navbar"></nav>
    <div class="container" th:object="${post}">
        <h1 th:text="*{title}"></h1>
        <h3 th:text="*{user.email}"></h3>
        <p th:text="*{body}"></p>
        <a th:href="@{/posts/{id}/edit(id=*{id})}" class="btn btn-primary">Edit Post</a>
        <form th:action="@{/posts/{id}/delete(id=*{id})}" method="post" class="delete-form">
            <button type="submit" class="btn btn-danger">Delete Post</button>
        </form>
    </div>
    <footer class="container-fluid" th:include="partials/partials::footer"></footer>
</body>
</html>